.root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
  }
  
  .form {
    width: 480px;
    height: 302px;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 24px;
  }
  
  .wrapper {
    margin-top: auto;
    display: flex;
    flex-flow: column;
    row-gap: 16px;
    align-items: center;
  }
  
  .bar {
    display: flex;
    column-gap: 8px;
    margin-top: auto;
  }
  
  .button {
    padding: 0;
  }